ItemPricer/Web References/PricerWebService/PricerWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMaxPriceOfItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxPriceOfItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxPriceOfItemResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMaxPriceOfItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxPriceOfItem" />
  </wsdl:message>
  <wsdl:message name="GetMaxPriceOfItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxPriceOfItemResponse" />
  </wsdl:message>
  <wsdl:portType name="PricerWebServiceSoap">
    <wsdl:operation name="GetMaxPriceOfItem">
      <wsdl:input message="tns:GetMaxPriceOfItemSoapIn" />
      <wsdl:output message="tns:GetMaxPriceOfItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PricerWebServiceSoap" type="tns:PricerWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaxPriceOfItem">
      <soap:operation soapAction="http://tempuri.org/GetMaxPriceOfItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PricerWebServiceSoap12" type="tns:PricerWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaxPriceOfItem">
      <soap12:operation soapAction="http://tempuri.org/GetMaxPriceOfItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PricerWebService">
    <wsdl:port name="PricerWebServiceSoap" binding="tns:PricerWebServiceSoap">
      <soap:address location="http://localhost:53747/PricerWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PricerWebServiceSoap12" binding="tns:PricerWebServiceSoap12">
      <soap12:address location="http://localhost:53747/PricerWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>